.home{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background: #fff;
    // height: 100px;
    // background-color: aqua;
    // border: 2px solid black;
    h2{
        text-align: center;
    }
    form{
        width: 100%;
    }
}