.sendMsg{
    width: 100%;
    position: absolute;
    height: 100px;
    padding: 5px 10px;
    bottom: 5px;
    background-color: #fff;

    .widgets{
        display: flex;
    }

    textarea{
        width: 100%;
        border-radius: 3px;
        border: 1px solid white;
        outline: none;
    }
}