.contacts {

    header {
        padding: .5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 1.5rem;
            font-weight: bolder;
            word-spacing: 5px;
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: #e8e1e1;

            &:hover {
                opacity: .8;
            }
        }
    }

    span{
        display: block;
        cursor: pointer;
        padding: .5rem;
        padding-left: 0;
        text-align: left;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

.contacts-false{
    .reqList{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .reqListInfo{
            cursor: auto;
            display: flex;
            align-items: center;

            .info{
                margin-left: 5px;
                display: flex;
                flex-direction: column;
            }
        }

        button{
            cursor: pointer;
            padding: .5rem;
            border-radius: 5px;
            border: none;
            font-size: large;
            background-color: green;
            color: white;
        }
    }
}