.mixinIcon{
    display: block;
    cursor: pointer;
    text-align: center;
    &:hover{
        color: rgb(107, 142, 142) !important;
    }
}

.smallIcon{
    .mixinIcon();
    @size:1.5rem;
    width: @size;
    height: @size;
    line-height: @size;
    font-size: @size !important;
}

.defaultIcon{
    .mixinIcon();
    @size:1.7rem;
    width: @size;
    height: @size;
    line-height: @size;
    font-size: @size !important;
}

.bigIcon{
    .mixinIcon();
    @size:2rem;
    width: @size;
    height: @size;
    line-height: @size;
    font-size: @size !important;
}
