html,
body #root {
    height: 100%;
    background-color: #f3f5f7;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge等使用Webkit内核的浏览器 */
input:-webkit-autofill {
    background-color: #fff;
    /* 设置背景颜色为白色 */
}

/* Firefox使用Gecko内核的浏览器 */
input:-moz-autofill {
    background-color: #fff;
    /* 设置背景颜色为白色 */
}