@font-face {
  font-family: "iconfont"; /* Project id 4127518 */
  src: url('iconfont.woff2?t=1694484358391') format('woff2'),
       url('iconfont.woff?t=1694484358391') format('woff'),
       url('iconfont.ttf?t=1694484358391') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\ec1c";
}

.icon-yiliaohangyedeICON-:before {
  content: "\e632";
}

.icon-nan:before {
  content: "\e609";
}

.icon-nv:before {
  content: "\e60d";
}

.icon-yincang:before {
  content: "\e661";
}

.icon-qiehuan:before {
  content: "\e6a7";
}

.icon-tianjiahaoyou:before {
  content: "\eb26";
}

.icon-lianxiren:before {
  content: "\e610";
}

.icon-exit-full:before {
  content: "\e97f";
}

.icon-xiaoxi-zhihui:before {
  content: "\e61d";
}

.icon-biaoqing1:before {
  content: "\e600";
}

.icon-shezhi:before {
  content: "\e66d";
}

.icon-fasong:before {
  content: "\e64e";
}

.icon-pengyouquan:before {
  content: "\e6ad";
}

.icon-tupian:before {
  content: "\e89f";
}

